@charset "UTF-8";

@import "./reset.css";

/*변수*/
:root {
	--width-default: 1540px;

	--color-error: #eb3641;

	--color-gray-00: #fff;
	--color-gray-05: #f8f8f8;
	--color-gray-10: #f1f1f1;
	--color-gray-20: #eee;
	--color-gray-30: #ddd;
	--color-gray-40: #ccc;
	--color-gray-50: #b3b3b3;
	--color-gray-60: #999;
	--color-gray-70: #7f7f7f;
	--color-gray-80: #666;
	--color-gray-90: #333;
	--color-gray-95: #111;

	--color-primary-05: #F6FEF6;
	--color-primary-10: #E0FBE0;
	--color-primary-20: #BDEDC4;
	--color-primary-30: #90D89D;
	--color-primary-40: #4BA95F;
	--color-primary-50: #007739;
	--color-primary-60: #055F30;
	--color-primary-70: #064C28;
	--color-primary-80: #0C3824;
	--color-primary-90: #082A1A;
	--color-primary-95: #091F15;
}

html{
	font-size: 62.5%;
	height: 100%;
	box-sizing: border-box
}

body{
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;
	font-family: 'Pretendard GOV',sans-serif;
	background-color: var(--color-gray-00);
	color: var(--color-gray-95)
}

a, input, textarea, label{
	color: var(--color-gray-95)
}

a{
	color: var(--color-gray-95);
	transition: 0.3s;
	cursor: pointer
}

img{
	max-width: 100%
}

.display-l{
	font-family: "Playfair Display", serif;
	font-size: max(3.2rem, min(5.2vw, 8rem));
	font-weight: 700;
	line-height: 140%
}

.display-m{
	font-family: "Playfair Display", serif;
	font-size: max(2.8rem, min(4.1vw, 6.4rem));
	font-weight: 700;
	line-height: 120%
}

.display-s{
	font-family: "Playfair Display", serif;
	font-size: max(2.8rem, min(3.6vw, 4rem));
	font-weight: 700;
	line-height: calc(max(2.8rem, min(3.6vw, 3.6rem)) + 16px)
}

h1, .tit-h1{
	font-size: max(2.8rem, min(3.6vw, 4rem));
	font-weight: 700;
	line-height: calc(max(2.8rem, min(3.6vw, 4rem)) + 8px)
}

h2, .tit-h2{
	font-size: max(2.4rem, min(3.1vw, 3.2rem));
	font-weight: 700;
	line-height: calc(max(2.4rem, min(3.1vw, 3.2rem)) + 8px)
}

h3, .tit-h3{
	font-size: max(2.2rem, min(2.8vw, 2.4rem));
	font-weight: 700;
	line-height: calc(max(2.2rem, min(2.8vw, 2.4rem)) + 8px)
}

h4, .tit-h4{
	font-size: 2rem;
	font-weight: 700;
	line-height: calc(2rem + 8px)
}

h5, .tit-h5{
	font-size: 1.8rem;
	font-weight: 700;
	line-height: calc(1.8rem + 8px)
}

h6, .tit-h6{
	font-size: 1.6rem;
	font-weight: 700;
	line-height: calc(1.6rem + 8px)
}

.body-xl{
	font-size: max(1.9rem, min(1.5vw, 2.4rem));
	line-height: 160%;
	letter-spacing: -0.02em
}

.body-l{
	font-size: max(1.8rem, min(1.1vw, 1.9rem));
	line-height: 160%;
	letter-spacing: -0.02em
}

.body-m{
	font-size: max(1.7rem, min(1.1vw, 1.8rem));
	line-height: 160%;
	letter-spacing: -0.02em
}

.body-s{
	font-size: max(1.5rem, min(1vw, 1.6rem));
	line-height: 160%;
	letter-spacing: -0.02em
}

.body-xs{
	font-size: 1.3rem;
	line-height: 160%;
	letter-spacing: -0.02em
}

.body-b-xl{
	font-size: max(1.9rem, min(1.5vw, 2.4rem));
	line-height: 160%;
	font-weight: 700
}

.body-b-l{
	font-size: max(1.8rem, min(1.1vw, 1.9rem));
	line-height: 160%;
	font-weight: 700
}

.body-b-m{
	font-size: max(1.7rem, min(1.1vw, 1.8rem));
	line-height: 160%;
	font-weight: 700
}

.body-b-s{
	font-size: max(1.5rem, min(1vw, 1.6rem));
	line-height: 160%;
	font-weight: 700
}

.body-b-xs{
	font-size: 1.3rem;
	line-height: 160%;
	font-weight: 700
}

.bold{
	font-weight: 700
}

.primary{
	color: var(--color-primary-70)
}

.clear::after{
	content:'';
	display:block;
	clear:both
}

.layout{
	width: calc(100% - 32px);
	max-width: var(--width-default);
	margin:0 auto
}

.mo-only{
	display: none
}

.container{
	position: relative;
	width: 100%;
	margin:0 auto;
	flex: 1;
	z-index: 10
}

.header__wrap{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(255,255,255,0.5);
	backdrop-filter: blur(10px);
	box-shadow: inset 0 -1px 0 0 var(--color-gray-00);
	z-index: 10
}

.header{
	display: flex;
	align-items: center;
	height: 80px
}


.index-banner__wrap{
	position: relative;
	max-width: 1920px;
	margin: 0 auto
}

.index-banner{
	position: relative;
	margin: 80px auto 0;
	padding-top:64px;
	box-sizing: border-box
}

.index-banner__tit{
	margin-top: 80px
}

.index-banner__color-wrap{
	position: relative;
	padding: 4px 48px;
	box-sizing: border-box
}

.index-banner__color-bottom{
	position: relative;
	color: var(--color-gray-95);
	z-index: 1
}

.index-banner__color-top{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 0;
	opacity:0;
	border-radius: 100px;
	color: var(--color-gray-00);
	background-color: var(--color-primary-50);
	overflow: hidden;
	transition: width 0.5s, padding 0.3s ease-out
}

.index-banner__color-top.on{
	width:100%;
	opacity: 1;
	padding: 4px 48px;
	box-sizing: border-box
}

.index-banner__txt{
	margin-top:20px;
	color: var(--color-gray-70)
}

.index-banner__img{
	position: absolute;
	right: 0;
	bottom: -20%;
	z-index: -1;
	user-select: none
}

.index-banner__img:before{
	content:'';
	position: absolute;
	top: -200px;
	right: 0;
	width:600px;
	height:600px;
	border-radius: 1000px;
	background-color: var(--color-primary-05);
	z-index: -2
}

.index-banner__img img{
	width:100%;
	max-width: 550px;
	transition: max-width 0.3s
}

.index-issue__wrap{
	position: relative;
	max-width: 1920px;
	margin: 0 auto
}

.index-issue{
	position: relative;
	margin: 280px auto 160px
}

.index-issue__tit{
	padding-bottom: 20px;
	box-shadow: inset 0 -1px 0 0 var(--color-gray-20);
	box-sizing: border-box
}

.index-issue__grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:20px;
	margin-top:40px
}

.index-issue__textbox + .index-issue__textbox{
	margin-top: 20px
}

.index-issue__textbox-tit{
	margin-bottom: 12px;
	display: inline-flex;
	align-items: center;
	gap:8px
}

.index-issue__ico{
	width: 48px;
	height: 48px
}

.index-issue__textbox-txt{
	color: var(--color-gray-70)
}

.index-issue__img{
	position: absolute;
	bottom:-50%;
	left:-5%;
	transition:bottom 0.3s;
	user-select: none
}

.index-history{
	position: relative;
	margin: 0 auto 160px
}

.index-history__txt{
	margin:8px 0 48px;
	color:var(--color-gray-80)
}

.index-history__grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap:20px
}


.index-history__item:nth-child(2){
	grid-column: 2 / 4;
	grid-row: 1 / 2
}

.index-history__item:nth-child(4){
	grid-column: 1 / 3;
	grid-row: 2 / 3
}

.index-history__item{
	background-color: #eee;
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 20px;
	overflow: hidden;
	color: var(--color-gray-00)
}


.index-history__item:nth-child(2),.index-history__item:nth-child(4){
	aspect-ratio: 2 / 1
}

.index-history__item img{
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1
}

.index-history__item:before{
	content: '';
	position: absolute;
	top:50%;
	left: 50%;
	width:100%;
	height:100%;
	transform: translate(-50%,-50%);
	background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0% 80%, rgba(0, 0, 0, 0.8) 100%);
	z-index: 2
}

.index-history__align{
	position: absolute;
	bottom:20px;
	left:20px;
	z-index: 3
}

.index-history__align2{
	position: absolute;
	bottom:20px;
	right:20px;
	z-index: 3
}

.index-certification{
	position: relative;
	margin: 0 auto 160px
}

.index-certification__grid{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap:20px
}

.index-certification__item-left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px
}

.index-certification__tit{
	margin-bottom: 20px
}

.index-certification__txt{	
	color:var(--color-gray-80)
}

.index-certification__ico-box{
	display: flex;
	align-items: flex-end;
	gap:12px;
	width:100%
}

.index-certification__ico img{
	width:100%;
	max-width: 200px
}

.index-certification__textbox + .index-certification__textbox{
	margin-top: 40px
}

.index-certification__textbox-txt{
	margin-top: 12px;
	color: var(--color-gray-70)
}

.index-contact{
	position: relative;
	margin: 0 auto 80px
}

.index-contact__tit{
	margin-bottom: 40px;
	text-align: center
}

.index-contact__btn-box{
	margin-bottom: 80px
}

.index-contact__btn{
	text-align: center
}

.index-contact__btn a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	padding:0 48px;
	background-color: var(--color-primary-50);
	color: var(--color-gray-00);
	border-radius: 100px
}

.index-contact__flex{
	display: flex;
	gap:8px;
	align-items: center
}

.index-contact__flex + .index-contact__flex{
	margin-top: 20px
}

.index-contact__ico, .index-contact__ico img{
	width:24px;
	height: 24px
}


.index-banner__tit,
.index-banner__txt,
.index-banner__img,
.index-issue__tit,
.index-issue__item-left,
.index-issue__textbox,
.index-history__tit,
.index-history__txt,
.index-history__grid,
.index-certification__tit,
.index-certification__txt,
.index-certification__ico-box,
.index-certification__textbox,
.index-contact__tit,
.index-contact__btn,
.index-contact__flex{
	opacity: 0;
	transform:translateY(80px);
	transition:opacity 0.8s, transform 0.8s ease
}


@media all and (max-width:1320px) {
	.index-banner__img img{
		max-width: 400px
	}
}

@media all and (max-width:1040px) {
	.index-banner__img{
		position: relative;
		margin: 0 auto;
		text-align: center
	}

	.index-banner__img:before{
		display: none
	}

	.index-history__grid{
		grid-template-columns: repeat(3, 1fr)
	}

	.index-history__item:nth-child(2){
		grid-column: auto;
		grid-row: auto
	}

	.index-history__item:nth-child(4){
		grid-column: auto;
		grid-row: auto
	}

	.index-history__item:nth-child(2),.index-history__item:nth-child(4){
		aspect-ratio: 1 / 1
	}

	.index-history__align2{
		right:auto;
		left: 20px
	}

	.index-certification__grid{
		display: flex;
		flex-direction: column;
		gap:20px
	}
}

@media all and (max-width:768px) {
	.mo-only{
		display: block
	}

	.index-banner__tit{
		margin-top:0
	}

	.index-banner__color-wrap{
		padding: 4px 16px
	}

	.index-banner__color-top.on{
		padding: 4px 16px
	}

	.index-history__grid{
		grid-template-columns: repeat(2, 1fr)
	}

	.index-issue__grid{
		display: flex;
		flex-direction: column;
		gap:40px;
		margin-top: 20px
	}

	.index-issue__img{
		bottom:-15%
	}

	.index-issue{
		margin: 80px auto 64px
	}

	.index-history{
		margin: 0 auto 64px
	}

	.index-certification{
		margin: 0 auto 64px
	}


	.index-certification__textbox + .index-certification__textbox{
		margin-top: 20px
	}

	.index-contact__tit{
		margin-bottom: 20px;
	}
}

@media all and (max-width:500px) {
	.index-history__item{
		border-radius: 12px
	}

	.index-history__grid{
		gap:8px
	}
}

@media all and (max-width:340px) {
	.body-xl{
		font-size: 1.7rem
	}
	.index-contact__btn a{
		padding:0 24px
	}

	.index-history__grid{
		grid-template-columns: repeat(1, 1fr)
	}

	.index-contact__flex{
		flex-direction: column;
		text-align: center;
	}
}